<h1>This is the Alpha-Blog home page</h1>

<p>This is the home page for the alpha-blog</p>

<p>About the author</p>
<%= link_to image_tag('profileimage.jpg'), 'www.bgreaves.net' %>

<!-- <%= image_tag 'profileimage.jpg' %> -->

<%= link_to "Alpha Blog", articles_path %> | <%= link_to 'About', about_path  %>